# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
import json

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Create city dataframe
city_data = pd.read_csv('output_files/city_data.csv')
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,mar del plata,-38.0023,-57.5575,59.00,71,90,4.61,AR,1616052184
1,1,nome,64.5011,-165.4064,3.20,72,1,6.91,US,1616052185
2,2,bredasdorp,-34.5322,20.0403,69.80,68,6,6.91,ZA,1616052186
3,3,seoul,37.5683,126.9778,66.20,39,75,11.50,KR,1616052187
4,4,cayenne,4.9333,-52.3333,78.01,94,100,9.15,GF,1616052188

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = city_data[["Lat", "Lng"]]

# Store humidity values into a list for weigh
humidity = city_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center = [0,0] ,zoom_level = 2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=4)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather = city_data[(city_data["Max Temp"] <80) & (city_data["Max Temp"] >70) & (city_data["Humidity"] <70) & (city_data["Wind Speed"] <10) & (city_data["Cloudiness"] ==0)]
ideal_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
17,17,maltahohe,-24.8333,16.9833,73.02,16,0,4.68,NaN,1616052198
60,60,new norfolk,-42.7826,147.0587,75.99,41,0,1.99,AU,1616052231
97,97,port lincoln,-34.7333,135.8667,74.75,57,0,9.66,AU,1616052258
288,288,atar,20.5169,-13.0499,70.86,13,0,8.63,MR,1616052401
295,295,vryburg,-26.9566,24.7284,72.66,58,0,7.72,ZA,1616052406
433,433,ardakan,32.3100,54.0175,78.80,24,0,9.22,IR,1616052507

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Store ideal_weather data into hotel_df and add the hotel name column
hotel_df = ideal_weather.reset_index(drop=True)
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,17,maltahohe,-24.8333,16.9833,73.02,16,0,4.68,NaN,1616052198,
1,60,new norfolk,-42.7826,147.0587,75.99,41,0,1.99,AU,1616052231,
2,97,port lincoln,-34.7333,135.8667,74.75,57,0,9.66,AU,1616052258,
3,288,atar,20.5169,-13.0499,70.86,13,0,8.63,MR,1616052401,
4,295,vryburg,-26.9566,24.7284,72.66,58,0,7.72,ZA,1616052406,
5,433,ardakan,32.3100,54.0175,78.80,24,0,9.22,IR,1616052507,

In [7]:
# Store geocoordinates
target_radius = 50000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    
    # get lat, lng 
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # run a request using our params dictionary and convert to json
    hotel_name = requests.get(base_url, params=params).json()
    
    # pprint the json
    #print(json.dumps(hotel_name, indent=4, sort_keys=True))
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][1]["name"]
    except:
        print("Missing field/result. Skipping...")

In [8]:
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,17,maltahohe,-24.8333,16.9833,73.02,16,0,4.68,NaN,1616052198,Maltahöhe Hotel
1,60,new norfolk,-42.7826,147.0587,75.99,41,0,1.99,AU,1616052231,St Ives Hobart Accommodation Tasmania
2,97,port lincoln,-34.7333,135.8667,74.75,57,0,9.66,AU,1616052258,Port Lincoln Hotel
3,288,atar,20.5169,-13.0499,70.86,13,0,8.63,MR,1616052401,Hotel Lemina Mint Maata
4,295,vryburg,-26.9566,24.7284,72.66,58,0,7.72,ZA,1616052406,Liquor Warehouse - Vryburg
5,433,ardakan,32.3100,54.0175,78.80,24,0,9.22,IR,1616052507,Mellat Bank

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))